
body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#a2d2ff, #EFB0C9);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section {
    margin-top: 50px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-hint {
    margin-top: 0;
}

#gift-img-cheers {
    height: 300px;
}

.gift-img {
    margin: 20px auto;
    max-width: 600px;
    height: 500px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("gift.jpg");
    background-size: cover;
}

#gift-img-happy:hover {
    background-image: url("giphy(4).webp");
    
}

#gift-img-hot:hover {
    background-image: url("giphy.webp");
}

#gift-img-genius:hover {
    background-image: url("compliment.gif");
    
    
}

#gift-img-badass:hover {
    background-image: url("giphy(1).webp");
    height: 400px;
    
}

#gift-img-cheers:hover {
    background-image: url("giphy(5).webp");

}

#gift-img-amazing:hover {
    background-image: url("giphy(6).webp");
     
}

#gift-img-best:hover {
    background-image: url("giphy(7).webp");
}

#gift-img-birthday:hover {
    background-image: url("giphy(3).webp");
}

#gift-img-Love:hover {
    background-image: url("giphy(2).webp");
}

#gift-img-miss:hover {
    background-image: url("giphy(8).webp");
}




#footer {
    font-style: italic;
    width: 400px;
    margin: 40px auto 20px;
}

a {
    color: white;
}